@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.title {
  background-image: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1033&q=80");
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 3em;
}

.question {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  background-color: white;
  align-self: center;
}

.scoreSection {
  position: relative;
  height: 500px;
}

.score {
  position: relative;
  width: 1100px;
  font-size: 2.8em;
  top: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-self: center;

}

.my-btn {
  width:700px;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-self: center;
}